/.idea/
app.iml
build/
.gradle/
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/css/coverage.css
/app/src/main/resources/file1.yaml
/app/src/main/resources/file2.yaml
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/css/idea.min.css
/htmlReport/ns-1/index.html
/htmlReport/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-1/sources/source-2.html
/htmlReport/ns-1/sources/source-3.html
/htmlReport/ns-1/sources/source-4.html
/htmlReport/ns-1/sources/source-5.html
/app/step1.cast
/app/step2.cast
/app/step3.cast
/app/step4.cast
/app/step5.cast
